.modal.fade#FeedListModal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Close
        h4.modal-title Subscribe List
      .modal-body(ng-init="list = []")
        ol
          li(ng-repeat="sub in list")
            h4 {{sub.title}}  / {{sub.sitename}}
            a(href="{{sub.url}}")
              p {{sub.url}}
            img(src="{{sub.favicon}}")
            .pull-right
              button.btn.btn-warning(
                data-dismiss="modal"
                ng-click="unsubscribeFeed(sub)"
                )
                span.glyphicon.glyphicon-plus
                |  Unsubscribe
            hr


