.modal.fade#FindFeedModal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Close
        h4.modal-title Search Results
      .modal-body(ng-init="candidates = []")
        ol
          li(ng-repeat="cand in candidates")
            h4 {{cand.title}}  / {{cand.sitename}}
            a(href="{{cand.url}}")
              p {{cand.url}}
            img(src="{{cand.favicon}}")
            .pull-right
              button.btn.btn-primary(ng-click="subscribeFeed(cand)")
                span.glyphicon.glyphicon-plus
                |  Subscribe
            hr


