.modal.fade#FindFeedModal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Close
        h4.modal-title Search Results
      .modal-body(ng-init="feeds = []")
        ol
          li(ng-repeat="feed in feeds")
            h4 {{feed.title}}  / {{feed.sitename}}
            a(href="{{feed.url}}")
              p {{feed.url}}
            img(src="{{feed.favicon}}")
            .pull-right
              button.btn.btn-primary(ng-click="subscribeFeed(feed)")
                span.glyphicon.glyphicon-plus
                |  Subscribe
            hr


