#home-alerts
  .alert.alert-danger.alert-dismissable
    | 深刻なエラーが発生しました
    button(type="button", class="close", data-dismiss="alert", aria-hidden="true")
      | &times;
  .alert.alert-warning.alert-dismissable
    | 普通のエラーが発生しました
    button(type="button", class="close", data-dismiss="alert", aria-hidden="true")
      | &times;