li.media.well
  .contents

    //- Image
    a.pull-left(href='#')
      img.media-object(src='/images/no_image.png')

    //- Description
    .media-body
      a(href= 'url')
        h4.media-heading title
          a(href='siteurl')
            small   sitename
        i.icon-comments-alt 
          |  Comments(0) 
        i.icon-star-empty  starred
      p  description

      //- Button
      button.btn Read More
      |    
      button.btn.btn-info
        i.icon-star
        |   Star
