extends layout

block content

  #home-wrapper

    //- Alerts -//
    include helper/alert

    //- Modals -//
    include helper/modal

    //- Loading -//
    .loading
      img(src="img/loading.gif")


    //- 
      LEFT SIDEBAR
     -//
    #home-left

      //- Account Information -//
      include sidebar/account

      //- Sidebar Menus -//
      include sidebar/menus

      //- Sidebar Bottoms -//
      include sidebar/bottoms 
     

    //- 
      RIGHT CONTENTS
     -//
    #home-right

      //- Header Title -//
      #home-header
        .inner
          h1
            | @keroxp

      #home-content

        //- Stream Information -//
        #home-content-stream
          include component/stream

        //- Stream's Feeds Information -//
        #home-content-feeds
          include component/feeds

        //- Search/Hot Streams View -//
        #home-content-streams.clearfix
          include component/streams

        //- Articles View -//
        #home-content-items
          include component/items
