extends layout

block content

  h3 Usage
  ol
    li Unificはユーザ全員で管理する匿名のRSSリーダーです
    li
      pre http://unific.net/リーダーの名前
      | でリーダーを生成/参照できます

  h3 Example
  ol
    li
      a(href='/music') Music
      p 音楽ニュース全般
    li
      a(href='/nikezono') nikezono
      p @nikezonoのリーダー
    li
      a(href='/masuilab') Masui Lab.
      p @masuilabのリーダー

