extends layout

block content
  
  .container

    .col-md-12
      #home-alerts
        .alert.alert-info.alert-dismissable
          =messages.info
        .alert.alert-danger.alert-dismissable
          =messages.error

    .col-md-6
      h4 Login
      form(action='/log_in', method='post')
        div
          label Username:
          input(type='text', name='username')
          br
        div
          label Password:
          input(type='password', name='password')
          br
        div
          input(type='checkbox', name='rememberme')
          | Remember Me
        div
          input(type='submit', value='Submit')

    .col-md-6
      h4 Signup
      form(action='/sign_up', method='post')
        div
          label Email:
          input(type='text', name='email')
          br
        div
          label Username:
          input(type='text', name='username')
          br
        div
          label Password:
          input(type='password', name='password')
        div
          input(type='submit', value='Submit')