doctype 5
html
  head
    title= title

    //- meta
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

    //- Atom/RSS Feed
    if rss
      link(rel="alternate",type="application/rss+xml",href="#{rss}")

    //- javascript
    script(src='/socket.io/socket.io.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    //- css
    link(type="text/css",rel="stylesheet", href="/lib/css/reset.css")
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css')
    link(type="text/css",rel="stylesheet", href="/css/style.css")

  body
    .container
      block content

  //- User Scripts
  script(src='/js/main.js')
