doctype 5
html
  head
    title= title

    //-
       Include Library
    //-

    //- javascript
    script(src='/socket.io/socket.io.js') 
    script(src='/lib/js/jquery-2.0.2.min.js')
    script(src='/lib/js/bootstrap.min.js')

    //- css
    link(rel='stylesheet', href='/lib/css/bootplus.min.css')
    link(rel='stylesheet', href='/lib/css/bootplus-responsive.min.css')
    link(rel='stylesheet', href='/lib/css/font-awesome.min.css')    

  body
    .container
      .row
        .span8.offset2
          .page-header
            h1= title
              if title != 'unific'
                small= ' - unific'

          block content



    //- Include User Scripts/Stylesheets
    !=js('io')
    !=css('main')
