doctype 5
html
  head
    if title != 'unific'
      title= title + ' - unific'
    else
      title= 'unific'

    //-
      Atom/RSS Feed
    //-
    if rss
      link(rel="alternate",type="application/rss+xml",href="#{rss}")

    //-
       Include Library (Primaly)
    //-

    //- javascript
    script(src='/socket.io/socket.io.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js')
    script(src='/lib/js/bootstrap.min.js')

    //- FancyBox
    script(src='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.pack.js')
    link(rel='stylesheet', href='/lib/css/jquery.fancybox.css', media="screen")

    //- css
    link(rel='stylesheet', href='/lib/css/bootplus.min.css')
    link(rel='stylesheet', href='/lib/css/bootplus-responsive.min.css')
    link(rel='stylesheet', href='/lib/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/main.css')

  body
    .container
      block content

  //- User Scripts
  script(src='/js/main.js')
