extends layout

//-
  Contents
//-
block content
  div#AngularApp(ng-app)

    #Navigation(ng-controller="navigationController")


      .btn-group.btn-group-justified
        .btn-group
          .input-group
            input.form-control(type="text",placeholder="keyword or url or streamname")
            span.input-group-btn
              button.btn.btn-primary(ng-click="addFeed()")
                | Subscribe

        .btn-group
          button.btn.btn-success
            | List

        .btn-group
          button.btn.btn-default
            | Star

        .btn-group
          button.btn.btn-warning
            | Fork


    hr

    #Pages(ng-controller="pageController")
      .well#NoFeedIsAdded
        button.close &times;
        | No Feed Is Added.

        p {{hoge}}



