extends layout

block content

  div#AngularApp(ng-app)

    #Navigation.col-md-12(ng-controller="navigationController")

      include modals/findFeedModal

      .col-md-12
        .col-md-6
          .input-group
            input.form-control(type="text",
              ng-model="findFeedQuery"
              placeholder="Keyword/URL/Other Stream's name"
              )
            span.input-group-btn
              button.btn.btn-primary(ng-click="findFeed(findFeedQuery)")
                span.glyphicon.glyphicon-search
                |  Find

        .col-md-6
          .btn-group.btn-group-justified
            .btn-group
              button.btn.btn-default
                span.glyphicon.glyphicon-list
                |  List

            .btn-group
              button.btn.btn-default
                span.glyphicon.glyphicon-star
                |  Starred

            .btn-group
              button.btn.btn-default
                span.glyphicon.glyphicon-cutlery
                |  Fork

    #Pages.col-md-12(ng-controller="pageController" ng-init="articles = []")
      .panel.panel-default(ng-repeat="article in articles")
        .panel-heading
          a(href="{{article.page.url}}")
            h5 {{article.page.title}}
        .panel-body
          // @todo 代表的画像抜き出し
          p {{article.page.description}}
        .panel-footer
          a(href="{{article.feed.siteUrl}}")
            .media
              .pull-left
                img.media-object.img-circle.img-responsive(src="{{article.feed.favicon}}")
              .media-body
                h6 {{article.feed.title}}
                p {{article.feed.siteUrl}}




