extends layout

block content

  div#AngularApp(ng-app)


    #Navigation(ng-controller="navigationController")

      #FindFeedModal
        include modals/findFeedModal

      .col-md-12
        .col-md-6
          .input-group
            input.form-control(type="text",
              ng-model="findFeedQuery"
              placeholder="Keyword/URL/Other Stream's name"
              )
            span.input-group-btn
              button.btn.btn-primary(ng-click="findFeed(findFeedQuery)")
                span.glyphicon.glyphicon-search
                |  Find

        .col-md-6
          .btn-group.btn-group-justified
            .btn-group
              button.btn.btn-default
                span.glyphicon.glyphicon-list
                |  List

            .btn-group
              button.btn.btn-default
                span.glyphicon.glyphicon-star
                |  Starred

            .btn-group
              button.btn.btn-default
                span.glyphicon.glyphicon-cutlery
                |  Fork

    hr

    #Pages(ng-controller="pageController")


