extends layout

block content

  #Modals

  #Navigation.col-md-12

    .col-md-12
      .col-md-6
        .input-group
          input#FindQuery.form-control(type="text",
            placeholder="Keyword/URL/Other Stream's name"
            )
          span.input-group-btn
            button.btn.btn-primary#Find
              span.glyphicon.glyphicon-search
              |  Find

      .col-md-6
        .btn-group.btn-group-justified
          .btn-group
            button.btn.btn-default
              span.glyphicon.glyphicon-list
              |  List

          .btn-group
            button.btn.btn-default
              span.glyphicon.glyphicon-star
              |  Starred

          .btn-group
            button.btn.btn-default
              span.glyphicon.glyphicon-cutlery
              |  Fork

          .btn-group
            button.btn.btn-default(
              onClick="requestPermission()"
              )
              span.glyphicon.glyphicon-exclamation-sign
              |  Notify


  .col-md-12
    hr
  #Pages.col-md-12

  script#articleTemplate(type="text/template")
    include template/panel
  script#candidatesRootTemplate(type="text/template")
    include template/candidatesRoot
  script#candidateTemplate(type="text/template")
    include template/candidate


