script(type='text/template')
  .feed-wrapper
    .inner
      .feed-icon
        img(src="img/twitter.png")
      .feed-center
        .feed-title
          a(href="")
            | NHKニュース
        .feed-rss-url
            | http://nhk.or.jp/rss
      .feed-right
        .feed-edit-button
          button.btn.btn-success
              span.icon-text.glyphicon.glyphicon-ok
              span フォロー中