script(type='text/template')
  .item-wrapper
    .item-above.clearfix
      .item-info
        .item-title
          a(href="")
            | ペットと一緒に避難の方法を学ぶ
        .item-item-name
          img(src="img/favicon.ico",class="item-favicon")
          | NHKニュース - NHKニュース 主要ニュース
        .item-desc
          | イランでは、２２日、大規模な軍事パレードが行われ、演説したロウハニ大統領は、核の平和利用の権利があると自国の核開発を正当化したうえで、「欧米側と対等の立場で交渉する用意がある」と述べ、対話による解決を呼びかけました。イランでは、２２日、大規模な軍事パレードが行われ、演説したロウハニ大統領は、核の平和利用の権利があると自国の核開発を正当化したうえで、「欧米側と対等の立場で交渉する用意がある」と述べ、対話による解決を呼びかけました。
      a.ellipsis-dot(href="#")
        | 続きを読む...
    .item-below.clearfix.gradient-gray
      .item-action-menu
        ul
          li
            a
              .icon.glyphicon.glyphicon-star-empty
          li
            a
              .icon.glyphicon.glyphicon-share-alt
