script(type='text/template')
  .stream-wrapper
    .inner
      .stream-above
        .stream-title
          a(href="#")
            .icon.glyphicon.glyphicon-signal
            |  Github
          .stream-creator
            | by
            a(href="#")
              img(src="img/icon.png")
              a(href="$#")  @keroxp
      .stream-below
        ul
          li.stream-left
            .stream-icon
              img(src="img/icon2.png")
          li.stream-center
            .stream-desc
              | 2013年7月26日金曜日 LEAP MOTION + openFrameworksでアプリケーション開発 先日発売になったLEAP MOTIONが、ようやく手元に届きました。 予約注文をしてから丸一年、予約した事を忘れてしまう程長かったです。 多くのメディアでも取り上げられていますが、LEAP...2013年7月26日金曜日
          li.stream-right
            button.subscribe-button.btn.btn-danger
              span.icon-text.glyphicon.glyphicon-minus
              | フォローをやめる