body
  .container
    margin-top:10px

    .favicon
      width:24px
      height:24px

    #notification
      position:fixed
      width:15%
      left:0%
      margin-top:120px

    #contents
      position:relative
      left:15%
      width:60%

    #utility
      position:fixed
      left:75%
      width:20%
      hr
        border-bottom:none

    #EditFeedModalWindow
      margin-top:0px
      .modal-body
        height:300px
    .modal.fade.in
      top:1%

#AbsoluteBackground
  background: center center fixed
  position:fixed
  top:0px
  width:100%
  height:100%