body
  margin-top:10px
  margin-left:0px

  #notification
    position:fixed
    width:11%
    margin-top:120px

  #contents
    position:relative
    left:15%
    width:60%

  #utility
    position:fixed
    left:75%
    width:20%
    hr
      border-bottom:none
