body
  margin-top:10px
  margin-left:0px

  .media-object
    height:80px
    width:80px
    padding-right:15px
  .media-object.showed
    height:150px
    width:150px


  #utility
    hr
      border-bottom:none


  .otherStream

    padding-top:120px

    .media-object.others
      height:60px
      width:60px
    .media-body
      padding-left:-10px
    hr
      border-bottom:none